<h1>ToDoly</h1>

<form name="toDoForm">
  <div id="message">
    ToDo created!
    <button id="closingIdButton">
      This is a Huge Button
    </button>
  </div>
  <input type="text" id="todo" name="todo"/>
  <input type="submit">
</form>

<hr>

<div>
  <h1>ToDo!</h1>
  <ul>
  </ul>
</div>